html,
body {

    background-image: url("/img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Montserrat', sans-serif;

}

.container {
    margin: 0 auto;
    margin-top: 123px;
    padding: 20px;
    background-color: #d79d14d1;
    border-radius: 10px;
    box-shadow: 24px 18px 7px -12px rgba(0, 0, 0, 0.53);
    margin-top: 50px;
    color: white !important;
}

.card-container.card {
    max-width: 420px;
    padding: 40px 40px;
}

.boton-principal {
    text-align: center;
    margin-top: 20px;
}



.navbar {
    height: 100px;
    background-color: #0000009E !important;
    box-shadow: 73px 5px 38px black;
    text-transform: uppercase !important;
    font-weight: bolder;
}

footer {
    border-top: px solid white;
    height: 400px;
    padding: 20px !important;
}

.logo-footer {
    height: 120px !important;
    width: auto !important;
    margin-top: 20px;
}

a {
    color: white !important;
}

.contacto-footer {
    color: white;
}

.text-muted {
    color: #e8ecf0 !important;
}

.btn-offer {
    background-color: whitesmoke;
    color: black !important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bold;
}